.dataCar {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.iconCount {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(0, 111, 68);
  font-weight: 700;
  font-size: 20px;
}

.iconCar {
  width: 100%;
  height: 100%;
}

.icon {
  margin-left: 10px;
  margin-top: 20px;
  color: black;
  font-weight: 700;
  font-size: 25px;
}
