@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Source+Code+Pro&display=swap");

:root {
  --primary: "Inter", sans-serif;
  --secundary: "Josefin Sans", sans-serif;
  --terciary: "Source Code Pro", monospace;
}

.card__coffees {
  width: 250px;
  min-height: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.card__Coffee {
  height: 180px;
  width: 100%;
}

.card__Coffee .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productInfo {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.productAbout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.verde {
  color: rgb(0, 111, 68);
}

.rojo {
  color: #F32013;
}

.productName {
  font-family: 'Lobster', cursive;
  color: #AC8157;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.productStock,
.productPrice {
  display: flex;
  font-size: 15px;
  gap: 10px;
  align-items: center;
  font-family: var(--secundary);
}

.productStock span,
.productPrice span {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.productAddCar {
  width: 100%;
}

.prosuctAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: min(90%, 200px);
  margin: 10px auto;
  padding: 8px;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: var(--primary);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(0, 111, 68);
  cursor: pointer;
  transition: 0.5s;
}

.productEmpty {
  cursor: auto;
  background-color: rgb(158, 158, 158);
}

.prosuctAdd:hover {
  text-shadow: 0px 0px 20px rgb(93, 93, 93);
}

.productIconCar {
  font-size: 20px;
}
