@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Poppins:wght@300;400;600&display=swap");

:root {
  --primary: "Inconsolata", monospace;
  --secundary: "Poppins", sans-serif;
}

.newProduct {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000090;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newProduct__cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.newProductContainer {
  width: min(90%, 800px);
  margin: 40px auto;
  background-color: white;
  padding-bottom: 10px;
}

.newProductContainer__subtittle {
  width: 100%;
  background-color: #00ad99;
  padding: 10px;
  text-align: center;
  font-family: var(--secundary);
}

.newProductContainer__form {
  width: min(90%, 600px);
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px #00000050;
  padding: 10px;
  padding-bottom: 0;
}

.newProductContainer__form__data {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.newProductContainer__form__data label {
  text-align: end;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.newProductContainer__form__data input {
  flex: 1;
  padding: 5px;
  outline: none;
  font-family: var(--primary);
}

.newProductContainer__form__data textarea {
  flex: 1;
}

.newProductContainer__form__data input[type="submit"] {
  background-color: #25ba04;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
