.carProducts{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.carProducts__image img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.carProducts__data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.carProducts__data__product h4{
    font-size: 15px;
}   

.carProducts__data__product p{
    font-size: 12px;
    color: grey;
}

.carProducts__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    gap: 20px;
}

.carProducts__buttons button{
    padding: 5px;
    border: none;
    color: black;
    cursor: pointer;
}

.delete{
    background-color: #ff0205;
}

.update{
    background-color: #c3fcf1;
}

@media (max-width: 550px){
    .carProducts{
        flex-wrap: wrap ;
        justify-content: center;
    }
    .carProducts__buttons{
        flex-direction: row;
    }
}