@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Source+Code+Pro&display=swap");

:root {
  --primary: "Inter", sans-serif;
  --secundary: "Josefin Sans", sans-serif;
  --terciary: "Source Code Pro", monospace;
}

.carpage {
  width: min(85%, 1200px);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
}

.carAdded {
  color: white;
  font-family: var(--primary);
  font-size: 15px;
}

.carAdded span {
  color: black;
  font-weight: bold;
  font-family: var();
}

.carEmpty {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.carEmpty a {
  color: white;
  text-decoration: none;
  background-color: rgb(0, 111, 68);
  border-radius: 10px;
  padding: 15px;
  font-family: var(--terciary);
}
