@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Source+Code+Pro&display=swap");

:root {
  --primary: "Inter", sans-serif;
  --secundary: "Josefin Sans", sans-serif;
  --terciary: "Source Code Pro", monospace;
}

.carpage {
  width: min(85%, 1200px);
  margin: 30px auto;
}

.carAdded {
  color: white;
  font-family: var(--primary);
  font-size: 15px;
}

.carAdded span {
  color: black;
  font-weight: bold;
  font-family: var();
}