.coffee {
  width: min(90%, 1200px);
  margin: 0 auto;
  display: grid;
  padding: 30px 0;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
  height: 85vh;
  
}

.coffee__cotent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.coffee__prase {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: rgb(206, 203, 203);
}

.coffee__prase span {
  font-family: "Dangrek", cursive;
  color: white;
}

.btn {
  background-color: transparent;
  color: rgb(230, 240, 205);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.btn--chooseCOfffee {
  padding: 10px 5px;
  width: 130px;
  border-radius: 15px;
  background-color: rgb(0, 111, 68);
}

.btn--chooseCOfffee:hover {
  transition: all 0.8s;
  background-color: #198159;
}

.coffee__ArrowChoose {
  font-size: 15px;
}

.coffee__imgIni {
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.coffee__imgIni img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .coffee__imgIni {
    width: 200px;
    height: 300px;
  }

  .coffee__prase {
    font-size: 30px;
  }
}

@media (max-width: 550px){
    .coffee{
      grid-template-columns: 1fr;
      height: auto;
    }

    .coffee__cotent{
      grid-row: 2/3;
    }

    .coffee__imgIni{
      width: 100%;
      height: auto;
    }
}
