.card{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    row-gap: 10px;
}

