.titulo{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.card{
    width: 300px;
    height: 200px;
    background-color: red;
}