@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Qwitcher+Grypen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.coffee {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffe__conLogo {
  position: relative;
  width: 80px;
}

.coffee__links {
  position: relative;
  display: flex;
    gap: 25px;
}

.coffee__list{
    list-style: none;
}

.coffee__link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}
