@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #312118;
}

.container {
  width: min(90%, 500px);
  margin: 0 auto;
}

/* LOGIN  */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__data {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px white;
  margin-bottom: 15px;
}

.login__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
}

.login__titulo {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Qwitcher Grypen", cursive;
  letter-spacing: 8px;
}

.login__inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login__sub {
  color: white;
  border-left: 2px solid white;
  padding-left: 5px;
  font-size: 20px;
}

.login__inputBox {
  width: 100%;
  margin-top: 30px;
}

.login__box {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.login_icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #f88d56;
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.login__contInput {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.login__input {
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 100%;
  display: flex;
  letter-spacing: 1px;
  height: 100%;
  color: white;
}

.login__type {
  position: absolute;
  font-size: 15px;
  color: white;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.login__box .login__contInput .login__input:focus ~ .login__type,
.login__box .login__contInput .login__input:valid ~ .login__type {
  top: -30px;
  left: 0;
  color: #b17f1c;
  font-size: 15px;
}

.login__input::placeholder {
  color: #9f9f9f;
}

.login__Remember {
  margin-top: 15px;
  color: rgb(169, 169, 169);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: end;
  align-self: flex-start;
  padding-left: 50px;
}

.login__boxSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__inputSubmit {
  width: 100%;
  border: none;
  background-color: #006f41;
  color: #312118;
  width: min(90%, 200px);
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.login__logRegis {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  gap: 6px;
}

.login__forgot {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 62, 203);
  text-decoration: underline;
  
}

.login_icon--btn {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  color: black;
  left: 30%;
  background-color: transparent;
}
